---
import Layout from "../layouts/Layout.astro";
---

<Layout title="גלרית קליפים">
  <h1 class="font-heebo text-6xl font-bold xl:text-5xl">גלרית קליפים</h1>
  <div class="flex flex-col gap-2 md:flex-row">
    <div class="rounded-lg border-2">
      <a href="https://youtu.be/JwTtlNGXaDQ" target="_blank">
        <img
          data-aos="fade"
          class="h-auto max-w-full cursor-pointer rounded-lg object-cover hover:brightness-95"
          src="/megamowgli/clip1.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="rounded-lg border-2">
      <a href="https://youtu.be/F0aj-8Goxg0" target="_blank">
        <img
          data-aos="fade"
          class="h-auto max-w-full cursor-pointer rounded-lg object-cover hover:brightness-95"
          src="/megamowgli/clip2.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="rounded-lg border-2">
      <a href="https://youtu.be/kupP7HVIxoY" target="_blank">
        <img
          data-aos="fade"
          class="h-auto max-w-full cursor-pointer rounded-lg object-cover hover:brightness-95"
          src="/megamowgli/clip3.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</Layout>
