---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="תיאטרון">
  <h1 class="font-heebo text-6xl font-bold xl:text-5xl">גלרית תיאטרון</h1>
  <Gallery path="/megamowgli/theater/" />
</Layout>
