---
import Sep from "./Sep.astro";
---

<div
	class="my-12 mx-auto flex w-full justify-around gap-y-5 py-5 text-center text-xl font-medium max-sm:flex-col xl:text-2xl px-12"
>
	<div class="px-12 flex flex-col items-center justify-center">
		<img
			class="transition-all hover:scale-110 w-14 h-14 select-none"
			src="/megamowgli/icons/pencil-solid.svg"
		/>
		<h1 class="text-3xl">תכנון</h1>
		<p class="text-lg">עבודה בשקיפות מלאה, שיתוף הלקוח ועמידה בתקציב.</p>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<img
			class="transition-all hover:scale-110 w-14 h-14 select-none"
			src="/megamowgli/icons/users-solid.svg"
		/>
		<h1 class="text-3xl">ליווי</h1>
		<p class="text-lg">
			הכוונה, ייעוץ ומענה מלא מרגע הרעיון ועד בניית התפאורה ביום האירוע.
		</p>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<img
			class="transition-all hover:scale-110 w-14 h-14 select-none"
			src="/megamowgli/icons/handshake-solid.svg"
		/>
		<h1 class="text-3xl">עסקי</h1>
		<p class="text-lg">
			תפאורה מגוונת ועשירה לתערוכות קד"מ ואירועים עיסקיים כגון : ימי חברה,
			מסיבות פורים וערבי עובדים.
		</p>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<img
			class="transition-all hover:scale-110 w-14 h-14 select-none"
			src="/megamowgli/icons/heart-solid.svg"
		/>
		<h1 class="text-3xl">פרטי</h1>
		<p class="text-lg">
			תפאורה אישית ומותאמת לאירועים פרטיים, לחוויה מיוחדת ואירוע קסום.
		</p>
	</div>
</div>
