---
const GALLERYPATH = "/megamowgli/gallery/";
const GALLERYIMAGES = Array.from({ length: 10 }, (_, i) => i + 1);
---

<div class="-z-10 grid grid-cols-2 gap-4 md:grid-cols-4" id="gallery">
	{
		GALLERYIMAGES.map((image) => (
			<div>
				<img
					class="aspect-square h-auto max-w-full rounded-lg object-cover"
					src={GALLERYPATH + image + ".jpg"}
					alt=""
				/>
			</div>
		))
	}
</div>
<div id="default-carousel" class="relative w-1/2 z-0" data-carousel="slide">
	<!-- Carousel wrapper -->
	<div class="relative h-[70vh] overflow-hidden">
		{
			// @ts-ignore
			[1, 2, 3, 4, 5, 6, 7, 8, 9, 10].map((image) => (
				<div
					class="hidden duration-700  ease-in-out"
					data-carousel-item
				>
					<img
						src={"/megamowgli/gallery/" + image + ".jpg"}
						class="absolute block rounded-xl w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
						alt="..."
					/>
				</div>
			))
		}
	</div>
</div>
